
*{
    margin: 1px;
    padding: 0px;
    font-family: "Fira Sans" serif;
   
}

button:hover {
    color: #fff;
    background-color: #006a50d1;
    transition: 0.3s;
  }

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    padding:10px;
    margin:20px 160px;
}

body{
    background-color: #f5f5f5;
    font-family: "Fira Sans", serif;
}
.heading{
    color: #0E0E0E;
}
.signIn{
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #006A50;
    color: #006A50;
    border-radius: 10px;
    font-weight: bold;
}
.banner-container{
    /*margin:0 auto;*/
    margin:20px 160px;
    background-color: #3b77686e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 10px;
   
    

}
.Bangla_2{
    margin-top: 117px;
    color: gray;
    font-weight: medium;
    font-size: 20px;

}
.banner-paragraph{
    margin-top: 16px;
    font-weight: bold;
    font-size: 56px;
}
.explore_btn{
    margin-top: 16px;
    background-color: #006A50;
    color: white;
    padding: 17px 34px;
    border: none;
    border-radius: 10px;
    margin-bottom: 117px;
    
}
.banner-img{
    margin-top: 80px;
    margin-bottom: 80px;
}

/* pillar section */

.pillarsOfBangladesh{
    margin:20px 160px;

}

.pillarsHeading{
    margin-top: 40px;
    margin-bottom: 40px;
}

.pillar-container_box{
    display: flex;
    justify-content: space-between;
    gap:20px;
   
}

.pillar-contain{
    text-align: justify;
    width: 302px;
    height: 244px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    pading:24px 24px;
    margin: 10px 0;
    box-shadow: 0 2px 4px white;
}

.innovation_heading{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* the_Vision_of_Future */
.vision_heading{
    font-weight: bold;
    font-size: 2rem;
    color: #000;
}
.the_Vision_of_Future{
    margin:20px 160px;

}

.vision-futur-paragraph{
    margin-top: 15px;
    margin-bottom: 32px;
    line-height: 1.6;
    color: #555;
}

.Vision_of_Future_box{
    display: flex;
    justify-content: space-between;
    gap:20px;
    
}



.Vision_of_Future_digital{
    text-align: justify;
  /*  width: 410.67px;
    height: 325px;*/
   /* padding: 20px; */
   
    border-radius: 10px;
    padding:24px 24px;
    margin: 10px 0;
    background-color: rgba(84, 144, 245, 0.2);
    box-shadow: 0 2px 4px rgba(84, 144, 245, 0.2);
}

.Vision_of_Future_green{
    text-align: justify;
  /*  width: 410.67px;
    height: 325px;
    padding: 20px;
   */
    border-radius: 10px;
    padding:24px 24px;
    margin: 10px 0;
    background-color: #c6e4d6;
    box-shadow: 0 2px 4px  #c6e4d6;
}

.Vision_of_Future_modern{
    text-align: justify;
   /* width: 410.67px;
    height: 325px;
    padding: 20px;
   */
    border-radius: 10px;
    padding:24px 24px;
    margin: 10px 0;
    background-color: #f7ebcf;
    box-shadow: 0 2px 4px #f7ebcf;
}

.Vision_of_Future_digital:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(84, 144, 245, 0.5);
}

.Vision_of_Future_green:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(9, 161, 92, 0.5);
}

.Vision_of_Future_modern:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(255, 194, 57, 0.5);
}


.digital_heading,
.green_heading,
.modern_heading {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}

.digital_btns {
    background-color: #5490f5;
    
}

.green_btns {
    background-color: #09a15c;
    
}

.modern_btns {
    background-color:#ffc239;
    
    color: white;
}

.digital_heading{
    margin-top: 10px;
    margin-bottom: 20px;
}


/*add special part */

.quata_d {
    padding: 48px 24px;
    margin:40px 160px;
    background-color: white;
    background-image: url(./B11A1--assignment-1/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 25px 20px;
    border-radius: 13px;
    border: 1px solid rgba(14, 14, 14, 0.15);
  }

  .sp{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 5px;
  }
  .dYunus {
    margin-top: 24px;
    margin-bottom: 5px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
  }



  /* start optional part opinion part */ 

.opinion-section {
    margin: 20px 160px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.opinion-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0E0E0E;
}


.opinion-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;

}

.table-header {
    display: flex;
    background-color: #c6e4d6;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
}

.table-row {
    display: flex;
    border: 1px solid #ddd;
}

.table-cell {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    color: #0E0E0E;
}

.table-cell:nth-child(2) {
    text-align: right;
}


.opinion-select {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid  #3b77686e;
    border-radius: 8px;
    background-color: #3b77686e;
    cursor: pointer;
    width: 150px;
}

.opinion-select:hover {
    border-color: #006A50;
}

.opinion-select:focus {
    outline: none;
    border-color: #006A50;
}


  /* recent news part */

  .Recent_News{
    margin:20px 160px;
    padding: 20px 0;
  }
  
  .Recent_News h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0E0E0E;
    
}

.Recent_News p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
}
.recent_news_box_container {
    display: flex;
    gap: 32px; 
    border-radius: 10px;
    background-color: #FFF; 
    padding: 48px 48px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#news-box-img-id{
    
    width: 350px; 
    height: 280px;
    border-radius: 24px;
    
}


.news-box1-written h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 10px;
}

.news-box1-written img {
    width: 100px;
    margin-bottom: 10px;
    border-radius: 5px; 
}

.news-box1-written p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.read-btn {
    align-self: flex-start;
    background-color: #006A50;
    color: white;
    padding: 13px 26px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.recent_news_box2_container{
    display: flex;
    margin-top: 24px;
    gap:32px;
    padding: 48px 48px;
    background-color: #FFFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

}

/*donate part */

.Donate-For-Bangladesh{
    text-align: center;
    margin:20px 160px;
  }

#donate-heading-id{
    color: #0e0e0e;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

#donate-paragraph {
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 18px;
    font-weight: 400;
    width: 90%;
    margin: 0 auto;
  }

  .ammount-box-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 32px auto;
  }

  .ammount-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #fff;
    height: 128px;
    width: 240px;
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans";
    font-size: 40px;
    font-weight: 700;
  }
#ammount200tk{
    background-color: #c6e4d6;
}
  .ammount-box:hover {
    background-color: #c6e4d6;
    transition: 0.3s ease-in-out;
  }

input[type="number"]{
    text-align: center;
    height: 64px;
    background-color: #FFF;
    display: block;
    width: 900px;
    padding: 20px 40px;
    margin: 32px auto;
    border: none;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

input[type="number"]:focus{
    outline: none;
    background-color: #def4e9;
}



.donate-btn {
    margin-top: 32px;
    color: #fff;
    background-color: #006a50;
    font-size: 22px;
    font-weight: 500;
    padding: 17px 34px;
    border-radius: 8px;
    display: block;
    margin: auto;
  }


  /* subscribe newsletter part */
  
  .Subscribe-Newsletter{
    margin:20px 160px;
    text-align: center;
    padding: 80px 100px;
    background-color: #fff;
    border-radius: 24px;
    background: #c6e4d6;
  }

  #subscribe-heading-id{
    color: #0e0e0e;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  .subscribe-p{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    width: 60%;
    margin: 0px auto 10px;
  }

  .input-container > input{
    font-size: 20px;
    border: none;
    border-radius: 8px 0 0 8px;
    width: 60%;
    padding: 18px 40px;
    margin: 24px -5px;  
  }
  .input-container input {
    font-size: 16px;
  }
  .input-container > input:focus {
    outline: none;
    background-color: #fff;
    transition: 0.3s;
  }
  .subscribe-btn {
    color: #fff;
    background-color: #006a50;
    font-size: 19px;
    font-weight: 500;
    padding: 15px 40px;
    border-radius: 0 8px 8px 0;
    margin-left: o;
  }

  /* footer part */
  .footer{
    background-color: #FFFFFF;
    padding: 20px;
    
    
  }

  #footer-heading{
    text-align: center;
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
    
  }
  .social-media {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  
  hr {
    width: 70%;
    border: 1px solid rgba(14, 14, 14, 0.1);
    margin: 0px auto;
  }